grammar Scheme
  rule expression
    ws* atom ws* {
      def eval(env={})
        atom.eval(env)
      end
    }
  end

  rule atom
    integer / identifier
  end

  rule identifier
    (!ws .)+ {
      def eval(env={})
        env[text_value]
      end
    }
  end

  rule integer
    ('0' / [1-9] [0-9]*) {
      def eval(env={})
        text_value.to_i
      end
    }
  end

  rule ws
    [ \t\n]
  end
end
